* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
}

table {
  width: 50%;
  border: 2px solid teal;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  border: 2px solid teal;
  cursor: pointer;
}

td {
  border-right: 2px solid teal;

  // Реализуем образание многоточием теста свыше двух строк
  &:nth-child(3) {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

th {
  border: 2px solid teal;
}

img {
  display: inline;
  float: left;
  &:hover {
    cursor: pointer;
  }
}

#formContainer {
  border: 2px solid teal;
  text-align: center;
  width: 15%;
  height: 100%;
  padding: 5px;
}

button {
  border: 1px solid teal;
  background: transparent;
  margin: 10px;
  cursor: pointer;
}
